#message-box {
    width: 801px;
    height: 413px;
    box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 327px;
    margin-top: 50px;
    padding-top: 67px;
}

#done-circle {
    width: 84px;
    height: 84px;
    background-image: url('../images/complete.svg');
    background-repeat: no-repeat;
    background-size: 47.1px 33.98px;
    background-position: center;
    border-radius: 50%;
    margin-left: 337px;
    box-shadow: 0px 6px 10px rgba(33, 30, 67, 0.08);
}

#info {
    margin-left: 150px;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    color: #4E598C;
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: #4F4F4F;
    max-width: 404px;
    line-height: 30px;
    font-family: inherit;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 38px;
}

a {
    color: #F2C94C;
}