@import url('http://fonts.cdnfonts.com/css/product-sans');


.input-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

sup {
    color: #EB5757;
}

input {
    height: 64px;
    border-radius: 10px;
    border: 1px solid #4E598C;
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    color: #4F4F4F;
    margin-bottom: 44px;
    padding-left: 27px;
}

input:active {
    background-color: white;
}

input:focus {
    outline: none;
    font-family: inherit;
}

label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 11px;
}

#email-desc {
    font-weight: 400;
    font-size: 16px;
    color: #817E9E;
    margin-top: 0;
    margin-bottom: 24px;
}

select {
    background-image: url('../../images/dropdown.svg');
    background-repeat: no-repeat;
    background-size: 18.25px 9px;
    background-position-y: 50%;
    background-position-x: 93%;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #4E598C;
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    color: #4F4F4F;
    margin-bottom: 44px;
    padding-left: 27px;
    appearance: none;
    cursor: pointer;
}

select::after {
    font-size: inherit;
    font-family: inherit;
    background-color: #4E598C;
}

select:focus {
    outline: none;
    font-family: inherit;
}

.input-wrap-row {
    display: flex;
    justify-content: space-between;
}

#lg-bx {
    width: 420px;
}

#state-bx {
    width: 260px;
}

#card-bx {
    width: 391px;
}

#expiry-bx {
    width: 132px;
}

#cvv-bx {
    width: 104px;
}

#cvv {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

@media (max-width: 768px) {
    input {
        height: 40px;
    }

    select {
        height: 45px;
    }
}