@import url('http://fonts.cdnfonts.com/css/product-sans');

.App {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul, li, h3 {
  margin: 0;
  padding: 0;
}

#header {
  width: 710px;
  height: 200px;
  margin-top: 123px;
  margin-bottom: 25px;
  margin-left: 394px;
  font-family: inherit;
}

#head {
  font-family: 'Product Sans';
  font-weight: 700;
  font-size: 36px;
  color: #4E598C;
  margin-bottom: 59px;
}

#nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 44px;
  font-weight: 700;
  font-size: 24px;
  color: #BDBDBD;
}

.active-nav {
  border-bottom: 5px solid #F2994A;
  color: #F2994A;
}

#head-line {
  margin-top: -3px;
}

#buttons {
  display: flex;
  margin-left: 394px;
  margin-bottom: 154px;
  align-items: center;
}

button {
  cursor: pointer;
}

#next-btn {
  width: 238px;
  height: 58px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
  font-weight: 700;
  font-family: inherit;
  font-size: 20px;
  color: #F7F7FF;
}

#next-btn:hover {
  background: linear-gradient(180deg, #F2F91F 0%, #F2F94A 100%);
}

#buttons p {
  font-weight: 700;
  font-size: 20px;
  color: #4E598C;
  font-family: inherit;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 73px;
}

.hidden {
  display: none;
}