@import url('http://fonts.cdnfonts.com/css/product-sans');
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root {
  padding: 0;
  margin: 0;
  font-family: 'Product Sans', sans-serif;
}

body {
  background-image: url('./images/background.svg');
  background-size: 100vw 845px;
  background-position: initial;
  background-repeat: no-repeat;
}

.form {
  width: 710px;
  margin-left: 394px;
}

@media (max-width: 768px) {
  body {
    background-image: url('./images/background.svg');
    background-size: 100vw 40vh;
    background-position: initial;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }

  .form {
    max-width: 90%;
  }
}

