@import url('http://fonts.cdnfonts.com/css/product-sans');

:root {
  padding: 0;
  margin: 0;
  font-family: 'Product Sans', sans-serif;
}

body {
  background-image: url('./images/background.svg');
  background-size: 100vw 880.5px;
  background-position: initial;
  background-repeat: no-repeat;
}

.form {
  width: 710px;
  margin-left: 394px;
}

